/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>



/ {
    chosen {
          zmk,battery = &vbatt;
    };

    vbatt: vbatt {
            compatible = "zmk,battery-nrf-vddh";
            label = "VBATT";
    };


    keymap {
        compatible = "zmk,keymap";

        aptmak {
            label = "APT";

            bindings = <
                &kp N3    &kp V    &kp W     &kp F     &kp P    &kp B     &kp J     &kp L    &kp Y     &kp U     &kp Z     &kp N6
                &kp N4    &kp R    &kp S     &kp T     &kp H    &kp K     &kp X     &kp N    &kp A     &kp I     &kp O     &kp N7
                &kp N5    &kp Q    &kp C     &kp G     &kp D    &kp Z     &kp Z     &kp M    &kp COMMA &kp DOT   &kp MINUS &kp N8
                &kp N1                                 &kp ESC  &kp SPACE &kp E     &kp TAB                                &kp N2
            >;
        };

    };
};
